<div class="container mt-3 mb-3 p-5 ">
    <h1 align="center" > 🎓 Cursos de Informatica  🎓  </h1>
</div>

<div class = "container p-5 center">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Cursos</th>
                <th>Carga Horária</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Análise e desenvolvimento de sistemas</td>
                <td>300 horas</td>
            </tr>
            <tr>
                <td>Sistemas de informação</td>
                <td>300 horas</td>
            </tr>
            <tr>
                <td>Java</td>
                <td>50 horas</td>
            </tr>
        </tbody>
    </table>
</div>    